*{
            font-family:"PingFang SC", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;

        }
body{
             background: linear-gradient(135deg, #e0f7fa 0%, #bbdefb 100%);
        }